@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* common
------------------------------------------------------------*/
body {
	color: #333;
	line-height: 1.6;
	font-size: 16px;
	font-family: "繝偵Λ繧ｮ繝取�譛抉ro", "Hiragino Mincho Pro", "貂ｸ譏取悃菴�", "Yu Mincho", YuMincho, serif;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	max-width: 100%;
	overflow: auto; /* Keep scrolling but hide scrollbar */
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
	scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
	scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
	display: none;
}
a {
	color: #333;
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}
p {
	line-height: 2;
}
.f_bold {
	font-weight: 500;
}
.txt_center {
	text-align: center;
}
section {
	padding: 100px 0;
}
.alt_bg {
	background: url(../img/common/alt_bg.jpg) repeat center;
	background-size: cover;
}
.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}
.container-wide {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}
.sp {
	display: none;
}
.container-default {
	max-width: 1040px;
	width: 95%;
	margin: 0 auto;
}
.container-narrow{
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}
.sp_break{
	display: none;
}
/* header
------------------------------------------------------------*/
header {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	z-index: 9999;
	background: #fff;
}
header .header_wrap{
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
	/* overflow: hidden; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header .header_wrap #logo{
	float: left;
}
header .header_wrap #logo a img{
	width: 225px;
}
header .header_wrap .header_menu{
	float: right;
	width: calc(100% - 270px);
}
header .header_wrap .header_menu ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header .header_wrap .header_menu ul li a{
	display: block;
	float: left;
	font-weight: bold;
	color: #000;
	transition: all ease .3s;
	margin-right: 30px;
	font-family: "Shippori Mincho", serif;
}
header .header_wrap .header_menu ul li:last-child a{
	margin-right: 0;
}
/* cta
------------------------------------------------------------*/
.cta_sec{
	background: url(../img/common/bg_cta.jpg) no-repeat center/cover;
	padding: 80px 0;
	color: #fff;
	text-align: center;
}
.cta_sec .tit_cta{
	font-family: "Shippori Mincho", serif;
	font-size: 28.8px;
	letter-spacing: 2px;
	font-weight: bold;
	margin-bottom: 30px;
}
.cta_sec .tel_link_wrap{
	padding: 5px 0;
	background: url(../img/common/cta_border.png) no-repeat center;
	background-size: 444px;
}
.cta_sec .tel_link{
	font-family: "Shippori Mincho", serif;
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: bold;
	color: #fff;
	padding-left: 38px;
	background: url(../img/common/ico_tel.png) no-repeat left top 16px/31px;
	color: #fff;
	text-decoration: none;
}
.btn_list_cta{
	display: flex;
	flex-wrap: nowrap;
	gap: 30px;
	justify-content: center;
}
.btn_list_cta a{
	display: block;
	width: 380px;
	padding: 19px 30px;
	box-sizing: border-box;
	transition: all ease .3s;
	text-align: center;
	opacity: 1;
	background-image: url(../img/common/ico_arrow.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
	background-size: 8px;
	background-color: #111;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta_sec p{
	font-size: 20px;
	margin-top: 20px;
}
.btn_list_cta a.btn_cta01{
	background-color: #ec532f;
}
.btn_list_cta a.btn_cta02{
	background-color: #002d7a;
}
.btn_list_cta a.btn_cta03{
	background-color: #a90a0a;
}
.btn_list_cta a span{
	display: inline-block;
	padding-left: 45px;
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: left center;
	font-size: 20px;
	font-weight: bold;
}
.btn_list_cta a span b{
	font-size: 1rem;
}
@media screen and ( max-width : 980px ) {
	.cta_sec p{
		font-size: 17px;
		margin-top: 10px;
	}
	.btn_list_cta a span b{
		font-size: 0.8rem;
	}
}
.btn_list_cta a.btn_cta01 span{
	background-image: url(../img/common/ico_cta01.png);
}
.btn_list_cta a.btn_cta02 span{
	background-image: url(../img/common/ico_cta02.png);
}
.btn_list_cta a.btn_cta03 span{
	background-image: url(../img/common/ico_cta03.png);
}
.btn_list_cta a:hover{
	opacity: .7;
}
/* headings
------------------------------------------------------------*/
.tit_sub, .tit_sub02 {
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}
.tit_sub02{
	text-align: left;
}
.tit_sub::before{
	content: "";
	position: absolute;
	right: 0;
	bottom: 3px;
	width: 100%;
	height: 1px;
	background: #000;
}
.tit_sub .tit_en{
	text-transform: uppercase;
	color: #888888;
	font-family: "Shippori Mincho", serif;
	font-size: 18px;
	display: block;
}
.tit_sub .tit_jp{
	color: #000;
	font-size: 36px;
	font-weight: bold;
	font-family: "Shippori Mincho", serif;
	line-height: 56px;
}
.tit_sec{
	font-family: "Shippori Mincho", serif;
	font-size: 26px;
	color: #000;
	display: block;
	font-weight: 400;
	margin-bottom: 30px;
	line-height: 38px;
}
/* button
------------------------------------------------------------*/
.btn{
	position: relative;
	text-align: center;
	display: block;
	padding: 6px 0;
	opacity: 1;
	max-width: 380px;
	width: 100%;
	transition: all ease .3s;
}
.btn::before,
.btn::after{
	content: "";
	position: absolute;
	background: #000;
	height: 1px;
	width: 215px;
	display: block;
	transition: all ease .3s;
}
.btn::before{
	top: 0;
	left: 0;
}
.btn::after{
	bottom: 0;
	right: 0;
}
.btn:hover::before,
.btn:hover::after{
	width: 100%;
}
.btn span{
	background-color: #000;
	background-image: url(../img/common/ico_arrow.png);
	background-repeat: no-repeat;
	background-position: right 40px center;
	background-size: 8px;
	color: #fff;
	font-family: "Shippori Mincho", serif;
	padding: 21px 20px;
	display: block;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	display: inline-block;
	transition: all ease .3s;
}
.btn:hover span{
	background-color: #1a1a1a;
}
/* footer
------------------------------------------------------------*/
footer .f_wrap{
	background: #333;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0;
}
footer .f_wrap #f_logo {
	width: 330px;
	float: left;
	padding-right: 10px;
	box-sizing: border-box;
}
footer .f_details p{
	font-size: 13px;
	margin: 10px 0;
	line-height: 1.6;
}
footer .f_details p a{
	color: #fff;
	display: inline-block;
}
footer .f_wrap #f_logo a.logo_image{
	max-width: 250px;
	display: block;
	width: 100%;
}
footer .f_wrap .f_links_wrap{
	width: calc(100% - 330px);
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-left: 1px solid #666;
}
footer .f_wrap .f_links_wrap .f_link_item{
	width: 33.333%;
	border-right: 1px solid #666;
	box-sizing: border-box;
	padding: 10px 38px;
}
footer .f_wrap .f_links li a{
	color: #fff;
	display: table;
	margin-bottom: 20px;
}
footer .f_wrap .f_links li:last-child a{
	margin-bottom: 0;
}
footer .f_wrap .f_links li a:hover{
	text-decoration: underline;
}
footer .f_wrap .f_links li .sub_f_links{
	margin-top: 20px;
}
footer .f_wrap .f_links li .sub_f_links li a{
	display: table;
	padding-left: 20px;
	margin-bottom: 20px;
	background: url(../img/common/ico_f_links.png) no-repeat left center/7px;
}
footer .f_wrap .f_links li .sub_f_links li:last-child a{
	margin-bottom: 0;
}
footer .f_bottom{
	background: #000;
	color: #fff;
	padding: 17px 0;
}
footer .f_bottom .container{
	overflow: hidden;
}
footer .f_bottom .site_links{
	overflow: hidden;
	float: left;
}
footer .f_bottom .site_links li{
	float: left;
}
footer .f_bottom .site_links li a{
	border-right: 1px solid #666;
	padding-right: 25px;
	margin-right: 25px;
	color: #fff;
	display: block;
	font-size: 14px;
}
footer .f_bottom .site_links li:last-child a{
	border-right: 0;
}
footer .f_bottom .site_links li a:hover{
	text-decoration: underline;
}
footer .f_bottom .copyright{
	color:#fff;
	font-size: 14px;
}
/* breadcrumbs
------------------------------------------------------------*/
.breadcrumbs{
	padding: 10px 0;
}
.breadcrumbs ul {
	overflow: hidden;
}
.breadcrumbs ul li {
	padding-right: 15px;
	margin-right: 10px;
	float: left;
	position: relative;
}
.breadcrumbs ul li::before{
	content:">";
	position: absolute;
	right: 0;
}
.breadcrumbs ul li:last-child {
	padding-right: 0;
	margin-right: 0;
}
.breadcrumbs ul li:last-child::before{
	display: none;
}
.breadcrumbs ul li a,
.breadcrumbs ul li span {
	color: #333;
}
@media screen and ( max-width : 1280px ) {
	/* header
	------------------------------------------------------------*/
	header .header_wrap .header_menu ul li a{
		margin-right: 0;
		font-size: 14px;
	}
	header .header_wrap .header_menu ul{
		gap: 20px;
	}
	header .header_wrap .header_menu{
		width: calc(100% - 240px);
	}
}
@media screen and ( max-width : 1280px ) {
	/* cta
	------------------------------------------------------------*/
	.btn_list_cta a span{
		font-size: 110%;
	}
}
@media screen and ( max-width : 980px ) {

	/* common
	------------------------------------------------------------*/
	section {
		padding: 70px 0;
	}
	.container .inner,
	.container .inner2 {
		max-width: none;
		width: 100%;
	}
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}

	/* header
	------------------------------------------------------------*/
	header {
		overflow: visible;
	}
	header .h_wrap .logo {
		max-width: 140px;
		width: 100%;
	}
	#trigger-menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		float: right;
		width: 35px;
		height: 35px;
		cursor: pointer;
		transition: all ease 0.3s;
	}
	#trigger-menu .line {
		position: relative;
		display: block;
		width: 35px;
		height: 4px;
		box-sizing: border-box;
		background-color: #000;
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
	}
	#gnav_sp {
		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		z-index: 99;
		background-color: #fff;
		display: none;
	}
	#gnav_sp::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 1px;
		width: 100%;
		background-color: #000;
	}
	#gnav_sp #gnav {
		float: none;
	}
	#gnav_sp #gnav ul {
		display: block;
	}
	#gnav_sp #gnav ul li {
		text-align: right;
	}
	#gnav_sp #gnav ul li a {
		padding: 15px 10px;
		display: block;
		font-size: 110%;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid #000;
		background: #fff;
		transition: all ease .3s;
		color: #000;
	}
	#gnav_sp #gnav ul li a:hover{
		background: #000;
		color: #fff;
	}
	body.menu-open #trigger-menu .line:nth-child(2) {
		opacity: 0;
	}
	body.menu-open #trigger-menu .line:first-child {
		top: 11px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
	}
	body.menu-open #trigger-menu .line:last-child {
		bottom: 12px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
	}
	/* headings
	------------------------------------------------------------*/
	.tit_sub .tit_en{
		font-size: 100%;
	}
	.tit_sub .tit_jp{
		font-size: 170%;
		line-height: 1.4;
	}
	.tit_sub, .tit_sub02{
		padding-bottom: 12px;
		margin-bottom: 20px;
	}
	.tit_sec{
		font-size: 140%;
		margin-bottom: 20px;
	}

	/* button
	------------------------------------------------------------*/
	.btn span{
		padding: 15px;
		font-size: 110%;
	}
	.btn::before, .btn::after{
		width: 160px;
	}

	/* footer
	------------------------------------------------------------*/
	footer .f_wrap #f_logo{
		width: 280px;
	}
	footer .f_wrap .f_links_wrap .f_link_item{
		padding: 10px 15px;
	}

	/* cta
	------------------------------------------------------------*/
	.cta_sec{
		padding: 50px 0;
	}
	.btn_list_cta{
		gap: 10px;
	}
	.btn_list_cta a{
		padding: 12px 12px;
		background-position: right 12px center;
		background-size: 7px;
		min-height: 73px;
	}
	.btn_list_cta a span{
		font-size: 110%;
        background-size: 24px;
        padding-left: 32px;
	}
	footer .sp{
		display: none;
	}
	footer .pc{
		display: block;
	}
}

@media screen and ( max-width : 768px ) {
	/* common
	------------------------------------------------------------*/
	body {
		font-size: 14px;
	}
	section {
		padding: 50px 0;
	}
	.container .inner,
	.container .inner2 {
		max-width: none;
		width: 100%;
	}
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}

	/* headings
	------------------------------------------------------------*/
	.tit_sub .tit_en{
		font-size: 90%;
	}
	.tit_sub .tit_jp{
		font-size: 150%;
	}
	.tit_sub, .tit_sub02{
		padding-bottom: 10px;
		margin-bottom: 18px;
	}
	.tit_sec{
		font-size: 130%;
		margin-bottom: 15px;
		line-height: 1.4;
	}

	/* cta
	------------------------------------------------------------*/
	.cta_sec{
		padding: 30px 0;
	}
	.cta_sec .tit_cta{
		font-size: 119%;
		margin-bottom: 10px;
		letter-spacing: normal;
	}
	.cta_sec .tit_cta span{
		font-size: 140%;
	}
	.cta_sec .tel_link_wrap{
		background-size: contain;
	}
	.cta_sec .tel_link{
		font-size: 180%;
		line-height: 1.2;
		background-size: 18px;
		padding-left: 28px;
		background-position: left top 12px;
	}
	.btn_list_cta{
		flex-wrap: wrap;
	}
	.btn_list_cta a{
		width: 320px;
	}
	/* button
	------------------------------------------------------------*/
	.btn{
		width: 250px;
		margin: 0 auto;
	}
	.btn span{
		padding: 12px 15px;
		background-position: right 20px center;
	}
	.btn::before, .btn::after{
		width: 120px;
	}
	/* footer
	------------------------------------------------------------*/
	footer .f_wrap #f_logo{
		width: 100%;
		margin: 15px auto 20px;
		padding: 0 10px;
	}
	footer .f_wrap #f_logo a.logo_image{
		width: 200px;
		margin: 0 auto 20px;
	}
	footer .f_details p{
		font-size: 13px;
		margin: 10px 0;
		line-height: 1.6;
	}
	footer .f_wrap .f_links_wrap{
		width: 100%;
	}
	footer .f_wrap .f_links li a{
		margin-bottom: 10px;
	}
	footer .f_wrap .f_links li .sub_f_links li a{
		margin-bottom: 10px;
	}
	footer .f_wrap .f_links li .sub_f_links{
		margin-top: 10px;
	}
	
}
@media screen and ( max-width : 640px ) {
	.sp_break{
		display: block;
	}
	/* footer
	------------------------------------------------------------*/
	footer .f_wrap{
		padding: 20px 0 0;
	}
	footer .f_wrap .container{
		width: 100%;
	}
	footer .f_wrap .f_links_wrap{
		border-left: 0;
		border-top: 1px solid #666;
		font-size: 13px;
	}
	footer .f_wrap .f_links_wrap .f_link_item{
		border: 0;
		width: 100%;
		padding: 0;
	}
	footer .f_links{
		display: flex;
		flex-wrap: wrap;
	}
	footer .f_links li{
		width: 50%;
	}
	footer .f_wrap .f_links li a{
		padding: 10px;
		margin: 0;
		display: block;
		border-right: 1px solid #666;
		border-bottom: 1px solid #666;
	}
	footer .f_wrap .f_links li .sub_f_links{
		margin: 0;
	}
	footer .f_wrap .f_links_wrap .f_link_item:nth-child(3){
		width: 100%;
	}
	footer .f_wrap .f_links_wrap .f_link_item:nth-child(2) li{
		width: 50%;
	}
	footer .f_wrap .f_links_wrap .f_link_item:nth-child(2) li .sub_f_links{
		display: flex;
		flex-wrap: wrap;
	}
	footer .f_wrap .f_links_wrap .f_link_item:nth-child(2) li .sub_f_links li{
		width: 50%;
	}
	footer .f_wrap .f_links_wrap .f_link_item:nth-child(2) li .sub_f_links li a{
		display: block;
		margin: 0;
		background-position: left 10px center;
		padding-left: 25px;
	}
	footer .f_wrap .f_links_wrap .f_link_item:last-of-type li{
		width: 50%;
	}
	footer .f_bottom{
		padding:  0 0 15px;
	}
	footer .f_bottom .site_links{
		float: none;
		display: flex;
		flex-wrap: wrap;
		font-size: 13px;
	}
	footer .f_bottom .site_links li{
		width: 100%;
	}
	footer .f_bottom .site_links li a{
		padding: 10px;
		margin: 0;
		border-bottom: 1px solid #666;
	}
	footer .f_bottom .container{
		width: 100%;
	}
	footer .f_bottom .copyright{
		float: none;
		font-size: 80%;
		margin-top: 15px;
		text-align: center;
	}
	footer .f_wrap .f_links li .sub_f_links li a{
		width: 100%;
		border-right: 1px solid #666;
		box-sizing: border-box;
		background-position: left 12px center;
		padding-left: 30px;
	}
	footer .sp{
		display: block;
	}
	footer .pc{
		display: none;
	}
	footer .f_wrap .f_links_wrap .f_link_item:last-of-type li:last-child{
		width: 100%;
	}
	footer .f_wrap .f_links_wrap .f_link_item:last-of-type li:last-child a{
		border-bottom: 0;
	}
}

.custom-select {
	position: relative;
	cursor: pointer;
	font-family: sans-serif;
  }
  
.selected-option {
	padding: 5px 25px;
	border: 1px solid #ccc;
	background: #fff;
	display: flex;
	align-items: center;
	gap: 8px;
}
.select-options li img{
	width: 25px;
}
.selected-option img{
	width: 25px;
}
header .header_wrap .header_menu ul.select-options {
	display: none ;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 10;
	flex-direction: column;
}

.select-options li {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.select-options li:hover {
	background: #f0f0f0;
}