/* main visual
------------------------------------------------------------*/
#mvisual{
	background: url(../img/index/main_visual.jpg) no-repeat top 10% center / cover;
	height: 800px;
	position: relative;
	padding-top: 100px;
	box-sizing: border-box;
	margin-top: 80px;
	position: relative;
}
#mvisual::before{
	content: "";
	background: url(../img/index/mv_pattern.png) repeat top left;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}
#mvisual .mv_wrap{
	max-width: 1400px;
	width: 95%;
	margin: 0 auto;
}
#mvisual .mv_top_text{
	font-size: 30px;
    text-align: center;
    background: #000;
    color: #fff;
    display: table;
    margin: 0 auto;
    padding: 10px 49px;
    font-weight: 500;
	font-family: "Shippori Mincho", serif;
	z-index: 2;
	position: relative;
}
#mvisual .mv_main_text img{
	max-width: 918px;
	width: 70%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}
#mvisual .mv_sub_text p{
	position: absolute;
	z-index: 2;
	bottom: 10%;
	text-align: center;
	color: #fff;
	right: 0;
	left: 0;
	font-size: 24px;
	border-bottom: solid 1px #f7f7f7;
	max-width: 918px;
	margin: 0 auto;
	font-weight: 600;
	padding-bottom: 10px;
	line-height: 2.5rem;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	letter-spacing: 0.1rem;
}

@media screen and (max-width: 767px){
	#mvisual .mv_sub_text p{
		width: 95%;
		font-size: 18px;
		letter-spacing: normal;
		line-height: 2rem;
		bottom: 15%;

	}
}
#mvisual .mv_bottom_text h1{
	text-align: center;
	color: #fff;
	font-size: 48px;
	font-weight: 500;
	text-shadow: 0px 0px 10px rgb(0 0 0 / 98%);
	position: absolute;
	top: -12%;
	right: 0;
	left: 0;
}
@media screen and (max-width: 767px){
	#mvisual .mv_bottom_text h1{
		top: 120%;
		font-size: 26px;

	}
}
#mvisual .mv_bottom_text{
	position: absolute;
	bottom: 50px;
	height: 250px;
	left: 0;
	right: 0;
	max-width: 1400px;
	width: 95%;
	z-index: 2;
	margin: auto;
}
#mvisual .mv_bottom_text .circle_txt{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 245px;
	height: 245px;
}
#mvisual .mv_bottom_text .side_txt{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 42px;
	z-index: 2;
	height: 278px;
}
#mvisual .side_txt_sp{
	display: none;
}
/* academy
------------------------------------------------------------*/
#academy{
	background: url(../img/common/deco_brush02.png) no-repeat top right 16%;
	background-size: 432px;
}
#academy .pack p{
	margin-bottom: 30px;
}
#academy .slider{
    width: 550px;
    max-width: 100vw;
    height: 580px;
    margin: auto;
    position: relative;
    overflow: hidden;
	float: left;
	margin-right: 50px;
}
#academy .list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
#academy .list img{
    width: 490px;
    max-width: 100vw;
    height: 520px;
    object-fit: cover;
}
#academy .list .item{
	margin-right: 60px;
	position: relative;
}
#academy .list .item::before{
	content: "";
    position: absolute;
    width: 490px;
    height: 520px;
    right: -60px;
    bottom: 0;
    z-index: -1;
    background: url(../img/index/img_bg.jpg) no-repeat center / cover;
}
#academy .dots{
	position: absolute;
	bottom: 30px;
	color: #fff;
	right: 60px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	transition: 1s;
}
#academy .dots li {
    list-style: none;
    width: 20px;
    height: 4px;
    background-color: #8a8a8a;
	margin-right: 10px;
}
#academy .dots li:last-child{
	margin: 0;
}
#academy .dots li.active {
    background-color: #fff;
}
#academy .case .pack{
	overflow: hidden;
}
/* case style
------------------------------------------------------------*/
.case_style01{
	display: block;
	position: relative;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.case_style01 .img_pack{
	max-width: 1080px;
	width: 60%;
	z-index: 1;
	overflow: hidden;
	position: relative;
	padding-top: 32.223%;
	float: right;
}
.case_style01 .img_pack img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.case_style01 .pack{
	background-image: url(../img/common/deco_brush.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 392px;
    background-color: rgba(255, 255, 255, .95);
    max-width: 820px;
    width: 55%;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    position: absolute;
    min-height: 326px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.case_style01.case-right .pack{
	left: 0;
}
.case_style01.case-left .pack{
	right: 0;
}
#academy .case_style01 .pack .tit_sub,
#enroll .case_style01 .pack .tit_sub{
	margin: 0;
}
.case_style01 .pack .tit_sub{
	width: 100%;
	margin-bottom: 10px;
}
.case_style01.case-left{
	flex-direction: row-reverse;
}
/* course
------------------------------------------------------------*/
.bnr_wrap a{
	margin: 60px auto 0;
	display: table;
	width: 100%;
	max-width: 576px;
	opacity: 1;
	transition: all ease .3s;
}
.bnr_wrap a:hover{
	opacity: .7;
}
/* enroll
------------------------------------------------------------*/
#enroll .enroll_links{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 26px;
	margin-top: 60px;
}
#enroll .enroll_links a{
	background: url(../img/index/bg_enroll.jpg) repeat center/cover;
	color: #fff;
	display: block;
	padding: 40px 40px;
	max-width: 280px;
    width: 23%;
	box-sizing: border-box;
	align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	opacity: 1;
	transition: all ease .3s;
}
#enroll .enroll_links a:hover{
	opacity: .7;
}
#enroll .enroll_links img{
	width: 92px;
	margin: 0 auto 20px;
}
#enroll .enroll_links a span{
	font-size: 18px;
	padding-right: 20px;
	background: url(../img/common/ico_arrow.png) no-repeat right center/ 8px;
}
/* strength
------------------------------------------------------------*/
#strengths{
	background: url(../img/common/deco_brush02.png) no-repeat top right 16%, url(../img/common/alt_bg.jpg) repeat top;
	background-size: 432px, contain;
}
.strengths_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.strengths_list .case{
	max-width: 380px;
    width: 31.67%;
}
.strengths_list .case .tit_sec{
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 23px;
	margin: 20px 0 0;
}
.strengths_list .case .tit_sec span{
	font-size: 30px;
}
/* news
------------------------------------------------------------*/
#news{
	background: url(../img/common/deco_brush02.png) no-repeat top right 16%;
	background-size: 432px;
}
.news_list{
	margin-bottom: 40px;
}
.news_list li a{
	display: table;
	padding: 20px 0;
	width: 100%;
	box-sizing: border-box;
	background: url(../img/index/border_pattern.jpg) repeat-x bottom left;
	background-color: #fff;
	transition: all ease .3s;
}
.news_list li a:hover{
	background-color: #f7f7f7;
}
.news_list li a .date{
	color: #888888;
	display: table-cell;
	margin-right: 20px;
	float: left;
	padding-top: 5px;
}
.news_list li a .cat{
	width: 140px;
	background: #d6d6d6;
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
	margin-right: 20px;
	float: left;
}
.news_list li a p{
	display: table-cell;
	width: calc(100% - 266px);
	background: url(../img/common/ico_arrow02.png) no-repeat right center/8px;
	padding-right: 30px;
	box-sizing: border-box;
	float: left;
}
#news .btn{
	margin: 0 auto;
}
/* column
------------------------------------------------------------*/
#column{
	background: url(../img/common/deco_brush02.png) no-repeat top right 16%, url(../img/common/alt_bg.jpg) repeat top;
	background-size: 432px, cover;
}
#column .column_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}
#column .column_list .case{
	max-width: 280px;
	width: 23.34%;
	box-sizing: border-box;
	background: #fff;
}
#column .column_list .case .img_wrap,
#column .column_list .case .pack{
	padding: 10px;
}
#column .column_list .case .pack{
	padding: 10px 20px 20px;
}
#column .column_list .case .pack .cat_wrap{
	display: block;
	overflow: hidden;
	margin-top: 20px;
}
#column .column_list .case .pack .cat{
	width: 110px;
	background: #d6d6d6;
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
	margin-right: 10px;
	float: left;
}
#column .column_list .case .link_wrap{
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 15px 10px;
	display: block;
	background: #fff;
	transition: all ease .3s;
}
#column .column_list .case .link_wrap:hover{
	background: #f7f7f7;
}
#column .column_list .case .link_wrap span{
	padding-right: 20px;
	background: url(../img/common/ico_arrow02.png) no-repeat right center/8px;
}
#column .btn{
	margin: 0 auto;
}
/* bnr_chef
------------------------------------------------------------*/
#bnr_chef{
	padding: 90px 0;
}
#bnr_chef .bnr_chef_wrap a{
	display: block;
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
	opacity: 1;
	transition: all ease .3s;
}
#bnr_chef .bnr_chef_wrap a:hover{
	opacity: .7;
}
/* faq
------------------------------------------------------------*/
#faq{
	background: url(../img/common/deco_brush02.png) no-repeat top right 16%, url(../img/common/alt_bg.jpg) repeat top;
	background-size: 432px, 2000px;
}
#faq .faq_wrap dl{
	margin-bottom: 20px;
	background: #fff;
}
#faq .faq_wrap dl dd,
#faq .faq_wrap dl dt{
	position: relative;
	padding: 26px 65px;
	color: #000;
}
#faq .faq_wrap dl dd::before,
#faq .faq_wrap dl dt::before{
	position: absolute;
	font-size: 24px;
	font-weight: bold;
	font-family: "Shippori Mincho", serif;
	left: 30px;
	top: 18px;
}
#faq .faq_wrap dl dt::before{
	content: "Q.";
	top: 24px;
}
#faq .faq_wrap dl dd::before{
	content: "A.";
}
#faq .faq_wrap dl dt{
	font-size: 24px;
	font-weight: bold;
}
#faq .faq_wrap dl dd{
	display: none;
	border-top: 1px solid #ddd;
}
#faq .faq_wrap dl dt::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #ddd;
	bottom: 0;
	width: 90px;
	height: 90px;
	background-image: url(../img/common/ico_plus.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
	transition: all ease .3s;
}
#faq .faq_wrap dl dt.active::after{
	background-image: url(../img/common/ico_minus.png);
}
#faq .btn{
	margin: 40px auto 0;
}
@media screen and ( max-width : 1200px ) {
	/* case_style01
	------------------------------------------------------------*/
	.case_style01 .pack{
		padding: 30px 50px;
		min-height: 300px;
		width: 60%;
	}
}
@media screen and ( max-width : 1080px ) {
	/* enroll
	------------------------------------------------------------*/
	#enroll .enroll_links a{
		padding: 30px 20px;
		width: 21%;
	}
}
@media screen and ( max-width : 980px ) {
	/* main visual
	------------------------------------------------------------*/
	#mvisual{
		height: 800px;
	}
	#mvisual .mv_bottom_text .circle_txt{
		width: 260px;
		height: 260px;
	}
	#mvisual .mv_bottom_text{
		bottom: 45px;
		height: 280px;
	}
	#mvisual .mv_bottom_text .side_txt{
		width: 36px;
		height: 260px;
	}
	/* academic
	------------------------------------------------------------*/
	#academy .slider{
		height: 360px;
		width: 400px;
		margin-right: 30px;
	}
	#academy .list img{
		width: 100%;
		height: 330px;
	}
	#academy .list .item{
		margin-right: 30px;
        margin-left: 30px;
	}
	#academy .list .item::before{
		width: 100%;
		height: 330px;
		right: -30px;
	}
	#academy .dots{
		bottom: 20px;
		right: 50px;
	}
	/* case_style01
	------------------------------------------------------------*/
	.case_style01 .pack{
		background-size: 260px;
		min-height: 220px;
	}
	/* bnr_wrap
	------------------------------------------------------------*/
	.bnr_wrap a{
		margin-top: 30px;
		width: 65%;
	}
	/* enroll
	------------------------------------------------------------*/
	#enroll .enroll_links{
		gap: 2%;
		margin-top: 40px;
	}
	#enroll .enroll_links a{
		padding: 20px;
		width: 22%;
	}
	#enroll .enroll_links img{
		width: 60px;
	}
	#enroll .enroll_links a span{
		font-size: 105%;
		background-size: 6px;
	}
	/* strength
	------------------------------------------------------------*/
	.strengths_list .case .tit_sec{
		font-size: 115%;
		margin-top: 10px;
		line-height: 1.6;
	}
	.strengths_list .case .tit_sec span{
		font-size: 120%;
	}
	/* column
	------------------------------------------------------------*/
	#column .column_list .case .pack{
		padding: 0 10px 10px;
	}
	#column .column_list .case .pack .cat{
		width: 80px;
		font-size: 65%;
		padding: 5px 3px;
		margin-right: 5px;
	}
}
@media screen and ( max-width : 768px ) {
	/* main visual
	------------------------------------------------------------*/
	#mvisual .mv_top_text{
		font-size: 150%;
	}
	#mvisual{
		height: 550px;
	}
	#mvisual .mv_bottom_text .circle_txt{
		width: 230px;
		height: 230px;
	}
	#mvisual .mv_bottom_text{
		bottom: 35px;
		height: 200px;
	}
	#mvisual .mv_bottom_text .side_txt{
		width: 60px;
        height: auto;
	}
	#mvisual .side_txt_sp{
		display: block;
	}
	#mvisual .side_txt_pc{
		display: none;
	}
	/* academy
	------------------------------------------------------------*/
	#academy{
		background-size: 226px;
	}
	#academy .slider{
		margin: 0 auto 30px;
        float: none;
	}
	#academy .case .pack{
		width: 100%;
	}
	#academy .case .pack h2 span br{
		display: none;
	}
	/* case_style01
	------------------------------------------------------------*/
	.case_style01 .pack{
		position: relative;
		width: 100%;
		min-height: 0;
		justify-content: flex-start;
		padding: 30px;
	}
	.case_style01 .img_pack{
		padding-top: 50%;
	}
	.case_style01 .img_pack{
		width: 100%;
		background-size: 180px;
	}
	/* bnr_wrap
	------------------------------------------------------------*/
	.bnr_wrap a{
		width: 75%;
	}
	/* instructors
	------------------------------------------------------------*/
	#instructors .case_style01 .pack p{
		margin-bottom: 20px;

	}
	/* enroll
	------------------------------------------------------------*/
	#enroll .enroll_links{
		margin-top: 30px;
	}
	#enroll .enroll_links a{
		width: 48%;
		margin-bottom: 2%;
		flex-direction: column;
	}
	#enroll .enroll_links img{
		width: 45px;
		margin: 0 auto 15px;
	}
	#enroll .enroll_links a span br{
		display: none;
	}
	/* column
	------------------------------------------------------------*/
	#column .column_list{
		margin-bottom: 20px;
	}
	#column .column_list .case{
		max-width: 100%;
		width: 49%;
		margin-bottom: 2%;
	}
	/* bnr_chef
	------------------------------------------------------------*/
	#bnr_chef{
		padding: 30px 0;
	}
	/* faq
	------------------------------------------------------------*/
	#faq .faq_wrap dl dt{
		font-size: 120%;
	}
	#faq .faq_wrap dl dd::before, #faq .faq_wrap dl dt::before{
		font-size: 120%;
	}
	#faq .faq_wrap dl dd, #faq .faq_wrap dl dt{
		padding: 20px 75px 20px 45px;
	}
	#faq .faq_wrap dl dd{
		padding: 20px 20px 20px 45px;
	}
	#faq .faq_wrap dl dt::before{
		top: 17px;
		left: 20px;
	}
	#faq .faq_wrap dl dt::after{
		width: 67px;
		height: 100%;
		background-size: 14px;
	}
	#faq .faq_wrap dl dd::before{
		left: 20px;
	}
}
@media screen and ( max-width : 640px ) {
	/* main visual
	------------------------------------------------------------*/
	#mvisual{
		height: 600px;
		padding-top: 40px;
		background-position: left 50% center;
		background-image: url(../img/index/main_visual_sp.jpg);
	}
	#mvisual .mv_top_text{
		font-size: 105%;
        padding: 10px 15px;
        /* position: absolute; */
        top: 200px;
        left: 0;
        right: 0;
		margin: auto;
        z-index: 3;
		width: auto;
	}
	#mvisual .mv_bottom_text .circle_txt{
		width: 130px;
        height: 130px;
	}
	#mvisual .mv_bottom_text{
		bottom: 280px;
        height: 230px;
	}
	#mvisual .mv_bottom_text .side_txt{
		width: 55px;
        height: auto;
        bottom: 40px;
	}
	#mvisual .mv_main_text img{
		width: 90%;
		top: 75px;
	}
	/* enroll
	------------------------------------------------------------*/
	#enroll .enroll_links{
		margin-top: 20px;
	}
	#enroll .enroll_links a{
		padding: 15px 10px;
	}
	#enroll .enroll_links img{
		width: 35px;
		margin: 0 auto 7px;
	}
	/* strength
	------------------------------------------------------------*/
	.strengths_list .case{
		max-width: 80%;
		width: 100%;
		margin: 0 auto 20px;
	}
	.strengths_list .case:last-of-type{
		margin-bottom: 0;
	}
	.strengths_list .case .tit_sec br{
		display: none;
	}
	.strengths_list .case .tit_sec br.sp_break{
		display: block;
	}
	/* news
	------------------------------------------------------------*/
	.news_list li a p{
		width: 100%;
		margin-top: 8px;
	}
}
@media screen and ( max-width : 440px ) {
	/* academy
	------------------------------------------------------------*/
	#academy .slider{
		width: 100%;
	}
	#academy .list{
		flex-wrap: nowrap;
		justify-content: center;
		width: 100%;
	}
	#academy .list img{
		width: calc(100% - 30px);
        height: 100%;
	}
	#academy .list .item::before{
		width: calc(100% - 30px);
        top: 20px;
        right: 0;
	}
	#academy .list .item{
		margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 30px;
	}
	/* enroll
	------------------------------------------------------------*/
	#enroll .enroll_links a span{
		font-size: 90%;
	}
}