<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tssa/
  
  # Nếu file hoặc folder tồn tại thì không rewrite
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Mọi request không tồn tại sẽ được chuyển về index.html
  RewriteRule ^ index.html [L]
</IfModule>